#dashboard-layout {
    font-size: 12px;
}

#dashboard-layout main {
    min-height: calc(100vh - 100px);
}

#dashboard-layout main section {
    min-height: calc(100vh - 100px);
    padding: 10px;
}

#dashboard-layout .breadcrumb-item.active {
    font-weight: bold;
}

/* Scroolbar */

#dashboard-layout ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

#dashboard-layout ::-webkit-scrollbar-track {
    border-radius: 10px;
}

#dashboard-layout ::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

#dashboard-layout ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}

/* Scroolbar */

#dashboard-layout .nav-tabs .nav-link {
    color: var(--black);
}

#dashboard-layout .nav-tabs .nav-link.active {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
}

.btn-primary:hover,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary.show,
.btn-primary:first-child:active,
:not(.btn-check)+.btn-primary:active {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
}

.btn-close:focus {
    box-shadow: none;
}

.multiselect,
.multiselect-wrapper {
    height: 31px !important;
    min-height: 31px !important;
    font-size: 12px !important;
}

.multiselect.is-active {
    box-shadow: none !important;
}

.multiselect-option {
    font-size: 12px !important;
}

.multiselect-option.is-selected {
    color: var(--white) !important;
    background-color: var(--black) !important;
}

.multiselect-search {
    border: 1px solid #CCCCCC !important;
}