.page-link {
    border-color: var(--black);
    color: var(--black);
}

.page-link.active {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
}

.page-link:hover,
.page-link:focus {
    border-color: var(--black);
    color: var(--black);
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}